.card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card:hover{
    border-left: blue solid 4px;
    border-right: blue solid 4px;
}